// blog styles

.mainBlog{
    background: $white;
    a{
        color: $greenGrey;
        font-weight: 900;
        display: block;
    }
}

.blog{
    background-image: url(../willowAssets/blog-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;

    h1{
        color: white;
        @include fontSize(35);
        position: absolute;
        top: 81.5%;
        left: 10%;
    }
}
    h4{
        @include primaryFont;
        @include fontSize(12);
    }
    .profileimg,
    .recentTextbox,
    .articleTextbox,
    .commentFlex{
        background: white;
        padding: 30px;
    }

    .aboutWillowTextbox{
        padding: 0 30px;
        background: white;
    }

    .articleTextbox{
        margin-bottom: 20px;
        border-bottom: $greenGrey solid 2px;
    }

    .recentTextbox{
        margin-top: 20px;
        li{
            font-family: $secondaryFont;
            @include fontSize(8);
            list-style-type: disc;
            margin-left: 3%;
            padding: 5px;
        }
    }

.lastComment{
    margin-top: 20px;
    border-bottom: $greenGrey solid 2px;
    
}

// blog alignment 

.blogGrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 40px;
    margin-top: 10%;
}

.commentFlex{
    display: flex;

    .imgComment{
        width: 50%;
        padding: 5px;
    }
}

