// header styling
header{
    background-color: $pine;
    background-size: 50%;

    .homeFlex{
        @include centerFlex;
        position: relative;
        

        .profileImg{
            width: 25%;
            transform: translate(10px, 70px);
        }
    }
}

// align about section 

.about{
    
    .who{
        font-family: $primaryFont;
        background: $white;

        .whoTextbox{
            @include centerFlex;
            flex-direction: column;
            padding: 5% 0 10% 0;
        }

        p{
            text-align: center;
        }
  
    }
}

// align articles section 

.articleFlex{
    @include centerFlex;
}

.bridgeImg{
    transform: translate(22%, -10%);
    width: 80%;
}

.flowerImg{
    transform: translate(-3%, -10%);
    width: 80%;
}

.favoriteBackground{
    background: $greenGrey;
    margin-top: 5%;
    margin-right: 2%;
    margin-bottom: 7%;
}

.bucketBackground{
    background: $pine;
    margin-left: 2%;
}

.favoriteTextbox{
    text-align: left;
    padding: 0 5% 5% 5%;
    width: 50%;
}

.bucketlistTextbox{
    text-align: right;
    padding: 0 5% 5% 5%;
    width: 50%;
}


// align journey section

.jouney{
    background: $white;
}


.journeyFlex{
    display: flex;
    padding: 10% 0;

}

.journeyBackground{
    margin-right: 10%;
    width: 100%;

}

.raincoatImg{
    box-shadow: $greenGrey 10px 10px;
}

// align gallery section 

.galleryFlex{
    display: flex;
    padding: 10% 0;

    .galleryImg{
        padding: 2%;
    }
}

// align home footer section 

footer{
    background: $white;
    .footerGrid{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 10% 0;
    }
}

.footerFlex{
    display: flex;
}

