// *****************variables*****************

// font
$primaryFont: 'Abril Fatface', cursive;
$secondaryFont: 'Montserrat', sans-serif;

$letterSpacing: 1px;

// colour
$accent: #E4A436;
$greenGrey: #709b6b;
$pine: #345231;
$black: #1f1f1f;
$white: #f6f6f6;



// *****************mixins*****************

// font
@mixin fontSize($sizeValue){
	font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

@mixin primaryFont(){
	font-family: $primaryFont;
	  text-transform: uppercase;
	  
}

// alignment and centering

@mixin centerFlex(){
	display: flex;
	justify-content: center;
	align-items: center;
}